<table class="table table-bordered table-striped">
 <thead>
   <tr>
     <th>Entry</th>
     <th>Details (edit/delete)</th>
   </tr>
 </thead>
 <tbody>
   <% @sightings.each do |s| %>
   <tr>
     <td>
       <a href="#"><%= @user %></a> reported
       <a href='#'><%= s.species.common_name %></a> from
       <a href='#'><%= s.tribe.try(:name) || "no tribe" %></a> near
       <a href='#'><%= s.location.name %></a> about 
       <a href='#'><%= distance_of_time_in_words(Time.now, s.record_time) %></a> ago
     </td>
     <td><a href="#" class="btn btn-mini btn-warning">Details</a></td>
   </tr>
   <% end %>
 </tbody>
</table>