<table class="table table-bordered table-striped">
  <!-- <thead>
    <tr>
      <th>Entry</th>
      <th>Details (edit/delete)</th>
    </tr>
  </thead> -->
  <tbody>
    <% @sightings.each do |sighting| %>
    <tr>
      <td>
        <%= sighting.description %></br>
        <em>
          <a href="#"><%= sighting.try(:user).email %></a> reported
          <%= link_to sighting.species.common_name, species_path(sighting.species) %></a> from
          <% if sighting.tribe.try(:name) %> 
            <%= link_to sighting.tribe.name, species_tribe_path(sighting.tribe.species, sighting.tribe) %>
          <% else %>
            <%= "no tribe" %>
          <% end %>
          near
  <!-- TODO: Swap this bit of model/controller logic out of the view and somewhere else  -->
          <%= sighting.location.nil? ? "nowhere" : link_to(sighting.location.name, location_path(sighting.location.id)) %> about 
          <a href='#'><%= sighting.record_time.nil? ? "no time" : distance_of_time_in_words(Time.now, sighting.record_time) %></a> ago
         </em>      
        </td>
      <td>
        <%= link_to "Details + Edit", edit_sighting_path(sighting), :class => 'btn btn-warning' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "DOWNLOAD CSV", sightings_getcsv_path, :class => 'btn btn-warning' %>