<table class="table table-bordered table-striped">
  <!-- <thead>
    <tr>
      <th>Entry</th>
      <th>Details (edit/delete)</th>
    </tr>
  </thead> -->
  <tbody>
    <% @sightings.each do |sighting| %>
    <tr>
      <td>
        <h3>
          <%= sighting.description %>
        </h3>
        <a href="#"><%= sighting.try(:user).email %></a> saw
        <%= link_to sighting.species.common_name, species_path(sighting.species) %></a> from
        <% if sighting.tribe.try(:name) %> 
          <%= link_to sighting.tribe.name, species_tribe_path(sighting.tribe.species, sighting.tribe) %>
        <% else %>
          <%= "no tribe" %>
        <% end %>
        near
        <!-- TODO: Swap this bit of model/controller logic out of the view and somewhere else  -->
        <%= sighting.location.nil? ? "nowhere" : link_to(sighting.location.name, location_path(sighting.location.id)) %>  
        <a href='#'><%= sighting.record_time.nil? ? "no time" : distance_of_time_in_words(Time.now, sighting.record_time) %></a> ago
      </td>
      <td>
        <% unless sighting.species.photos.count == 0 %>
          <%= link_to image_tag(sighting.species.get_photo_url, :title => "First picture we could find of #{sighting.species.common_name}", 
            :class => "photo small_photo"), species_path(sighting.species) 
          %>
        <% end %>
      </td>
      <td>
        <%= link_to edit_sighting_path(sighting), :class => 'btn btn-warning' do %>
          <i class="icon-edit icon-white"></i> Edit
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to new_sighting_path, :class => 'btn btn-success' do %>
  <i class="icon-plus icon-white"></i> Add sighting
<% end %>

<%= link_to download_sightings_path, :class => 'btn btn-info' do %>
  <i class="icon-download-alt icon-white"></i> Download CSV
<% end %>