<div class="container">
  <div class="row">
    <h1>Add new sighting</h1>
    <h3>Hey, what have you seen, and where have you seen it?</h3>
  </div>        
  <div class="row" style="height: 150px; overflow: scroll">
    <h2>Images of species - select one</h2>
    <% @species.each do |species| %>
      <%= link_to image_tag(species.get_photo_url, :title => "First picture we could find of #{species.common_name}",
        :remote => true,
        :class => "box-shadow species photo small_photo"), species_path(species) 
      %>
    <% end %>
  </div>
  <div class="row">
    <%= form_tag sightings_path, :controller => :sightings, :action => :create, :method => 'post' do %>

        <%= label_tag 'Use this "OmniEnter" box to search for everything!' %>
        <%= text_field_tag :search, params[:search], :class => 'omni_enter' %>
        <%= hidden_field_tag(:species_id) %>
        <%= hidden_field_tag(:tribe_id) %>
        <%= hidden_field_tag(:location_id) %>
        <%= hidden_field_tag(:time_id) %>    
        <%= label_tag "Describe what you saw:" %>
        <%= text_field_tag :description, nil, :placeholder => "ugly but working description box" %>
        <%= submit_tag "Add this!", :name => nil %>

      <% end %>
  </div>
    
      <div class="span3 model_results species">
        <ul>
          <h2>Species</h2>
          <div id="species"></div> 
        </ul>
      </div>
      <div class="span3 model_results tribe">
        <ul>
          <h2>Tribe</h2>
          <div id="tribe"></div>
        </ul>
      </div>
      <div class="span3 model_results location">
        <ul>
          <h2>Location</h2>
          <div id="location"></div>
        </ul>
      </div>
      <div class="span3 model_results time">
        <ul>
          <h2>Time</h2>
          <div id="time"></div>
        </ul>
      </div>
    </div>
</div>

