<div class="container"> <!-- sightings_book"> -->
  <div class="page-header">
    <div class="row">
      <div class="span12">
        <h1>All Sightings</h1>
        <h3>Hey Geoff, this is your first visit</h3>
        <%= link_to "Add new sighting", new_sighting_path, :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <div id="tabs">
      	<ul>
      		<li id="headlines_tab"><a href="#headlines_panel">Headlines</a></li>
      		<li id="map_tab"><a href="#map_panel">Map</a></li>
      		<li id="list_tab"><a href="#list_panel">List (<%= @sightings.count %>)</a></li>
      	</ul>
        <div id="headlines_panel">
          <%= render :partial => 'headlines' %>
        </div>
        <div id="map_panel" class="map">
          <%= render :partial => 'map' %>
        </div>
        <div id="list_panel">
          <%= render :partial => 'table' %>
        </div>
      </div>      
    </div>
    <div class="span3">
      <h2>Filters Summary</h2>
      <ul><li>Currently searching for X, Y and Z</li></ul>
      <%= render :partial => 'filters' %>
    </div>
  </div>
</div>  

