<div class="container"> <!-- sightings_book"> -->
  <div class="page-header">
    <div class="row">
      <div class="span12">
        <h1>All Sightings</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <div id="tabs">
      	<ul>
      		<li><a href="#headlines">Headlines</a></li>
      		<li><a href="#map">Map</a></li>
      		<li><a href="#list">List (<%= @sightings.count %>)</a></li>
      	</ul>
        <div id="headlines">
          <%= render :partial => 'headlines' %>
        </div>
        <div id="map">
          <%= render :partial => 'map' %>
        </div>
        <div id="list">
          <%= render :partial => 'table' %>
        </div>
      </div>      
    </div>
    <div class="span3">
      <%= render :partial => 'filters' %>
    </div>
  </div>
</div>  

