<div class="container sightings_book">
  <div class="page-header">
    <h1>Sightings for <%= link_to "#{@camp.name}", "#" %></h1>
  </div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span6">
          <div class="btn-group" data-toggle="buttons-radio">
            <%= link_to "Today", {:url => sightings_path, :search => 1}, :remote => true, :class => 'btn change_date' %>
            <%= link_to "7 days", {:url => sightings_path, :search => 7}, :remote => true, :class => 'btn change_date' %>
            <%= link_to "30 days", {:url => sightings_path, :search => 30}, :remote => true, :class => 'btn change_date' %>
          </div>
        </div>
        <div class="span3">
          <h6>10 Feb to 10 March 2012</h6>
        </div>
        <div class="span3">
          <!-- <i class="icon-plus-sign"></i> -->
          <%= link_to "+ Add new sighting", new_sighting_path, :class => 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="row">
    <div class="span12" id="entries">
      <h2>Entries</h2>
      <%= render :partial => 'entries' %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div id="map_here" class="span6">
          <h2>Map</h2>
          <div id="map-sightings-index" style="height: 250px; border: 1px solid">
            <!-- <p>Wow - what an interesting map</p> -->
          </div>
        </div>
        <div id="stats_chart" class="span6">
          <div class="row">
            <div id="stats" class="span6">
              <h2>Stats</h2>
              <h3><%= @drive_count %> drives (550km, 34hrs)</h3>
              <h3><%= @sightings.count %> sightings (19 rare)</h3>
            </div>
            <div id="chart" class="span6">
              <!-- <div class="row"> 
                <div class="span6"> -->
                  <h2>Species history</h2>
                  <%= high_chart("my_id", @h) %>
                  <!-- <p>Interesting chart showing some good stats</p> -->
                <!-- </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  

