<div class="container">
  <div class="row">
    <h1>Add new sighting</h1>
    <h2><small>Use this "OmniEnter" box to search for everything!</small></h2>
    
    <%= form_tag sightings_path, :method => 'post' do %>

        <%= text_field_tag :search, params[:search], :class => 'omni_enter' %>
        <%= hidden_field_tag(:species_id) %>
        <%= hidden_field_tag(:tribe_id) %>
        <%= hidden_field_tag(:location_id) %>
        <%= hidden_field_tag(:time_id) %>
        <%= text_field_tag(:description) %>
        <%= submit_tag "Add this!", :name => nil %>

    <% end %>
    
<!--     <input id="search" placeholder="" class="omni_enter"/>
      <input type="hidden" />     -->
      
    
    
      <div class="span3 model_results species">
        <ul>
          <h2>Species</h2>
          <div id="species"></div> 
        </ul>
      </div>
      <div class="span3 model_results tribe">
        <ul>
          <h2>Tribe</h2>
          <div id="tribe"></div>
        </ul>
      </div>
      <div class="span3 model_results location">
        <ul>
          <h2>Location</h2>
          <div id="location"></div>
        </ul>
      </div>
      <div class="span3 model_results time">
        <ul>
          <h2>Time</h2>
          <div id="time"></div>
        </ul>
      </div>
    </div>
</div>

