<div class="container">
  <h1>Sighting #<%= @sighting.id %></h1>
  <h2>What</h2>
    <p><%= @sighting.species.try(:common_name) %> (<em><%= @sighting.species.try(:binomial) %></em>) from </p>
    <p><%= @sighting.tribe.try(:name) %> </p>
    <p><%= @sighting.description%> </p>
  <h2>Where</h2>
    <p><%= @sighting.location.try(:name)%></p>
    <p>On drive #<%= @sighting.try(:drive_id) %> from Camp #<%= @sighting.camp.try(:name) %></p>
    
  <h2>When</h2>
    <p><%= @sighting.record_time%> +/- <%= pluralize @sighting.time_window_hr, 'hour' %></p>
  <h2>Who</h2>
    <p>User #<%= @sighting.user_id %></p>
    <p>Reported from <%= @sighting.submission_point %></p>
</div>

