<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Image</th>
      <th>Location</th>
      <th>Details (edit/delete)</th>
    </tr>
  </thead>
  <tbody>
    <% @tribes.each do |tribe| %>
    <tr>
      <td>
        <%= link_to tribe.name, species_tribe_path(tribe.species, tribe) %>
      </td>
      <td>
        <%= link_to "#{tribe.species.common_name} (#{tribe.species.binomial})", species_path(tribe.species) %>
      </td>
      <td>
        <%= link_to image_tag(tribe.species.get_photo_url, :title => "First picture we could find of #{tribe.species.common_name}", 
          :class => "box-shadow", 
          :style => "border: 1px solid; max-height:70px;"), species_path(tribe.species) 
        %>
      </td>
      <td>
        <%= link_to tribe.location.name, location_path(tribe.location) %>
      </td>
      <td>
        <%= link_to "Details", edit_species_tribe_path(tribe.species, tribe), :class => "btn btn-mini btn-warning" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
