<div class='container'>
  <h1><%= @tribe.name %></h1>

  <p>
    <%= link_to species_path(@tribe.species) do %>
      <%= @tribe.species.common_name %>
      <em>(<%= @tribe.species.binomial %>)</em>
    <% end %>
    lives at <%= link_to @tribe.location.name, location_path(@tribe.location.id) %>
  </p>
  <div class="row">
    <div class="span3">
      <h3>Little picture</h3>
      <p><%= link_to image_tag(@tribe.species.get_photo_url, :title => "First picture we could find of #{@tribe.species.common_name}", 
        :class => "photo"), species_path(@tribe.species) 
      %></p> 
      <p><%= link_to "Edit this tribe", edit_species_tribe_path(@tribe.species, @tribe) %> |
      <%= link_to "View all tribes", tribes_path %></p>  
      
    </div>
    <div class="span9">
      <div class="row">
        <h3>Sightings</h3>
        <%= render :partial => 'sightings/table'%>
      </div>
      <div class="row">
        <% unless @tribe.location.blank? %>
          <h3>Map of where this tribe lives</h3>
          <div id="tribe_location_map" style="height: 400px">
        <% else %>

        <% end %>
      </div>
    </div>
  </div>
</div>
