<div class='container'>
  <h1><%= @tribe.name %></h1>

  <p>
    <%= @tribe.species.common_name %> 
    <em>(<%= @tribe.species.binomial %>)</em>
    lives at "<%= @tribe.location.name %>"
  </p>
  <h3>Little picture</h3>
  <%= image_tag @tribe.species.get_photo_url, :title => "First picture we could find of #{@tribe.species.common_name}", :class => "class" %>

  <div id="map_canvas" style="height: 400px; width: 600px">
    <h3>Mappy of where this tribe lives</h3>
  </div>

  <%= link_to "Edit this", edit_species_tribe_path(@tribe.species, @tribe) %> |
  <%= link_to "All tribes", tribes_path %>  
</div>
