<!-- TODO: This feels a bit clunky, and maybe not DRY - but it works -->
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Entry</th>
      <th>Details (edit/delete)</th>
    </tr>
  </thead>
  <tbody>
    <% sightings.each do |sighting| %>
    <tr>
      <td>
        <!-- <a href="#"><%= @user %></a> reported -->
        <%= link_to sighting.species.common_name, species_path(sighting.species) %></a> from
        <% if sighting.tribe.try(:name) %> 
          <%= link_to sighting.tribe.name, tribe_path(sighting.tribe) %>
        <% else %>
          <%= "no tribe" %>
        <% end %>
        near
        <%= link_to sighting.location.name, location_path(sighting.location.id) %> about 
        <a href='#'><%= distance_of_time_in_words(Time.now, sighting.record_time) %></a> ago
      </td>
      <td>
        <%= link_to "Details + Edit", edit_sighting_path(sighting), :class => 'btn btn-warning' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<!-- <%= link_to "DOWNLOAD CSV", sightings_getcsv_path, :class => 'btn btn-warning' %> -->