<link href="http://veritetimeline.appspot.com/latest/timeline.css" rel="stylesheet">
<div class='container'>
  <div id="user_sightings_map">
    
  </div>
  <div class="row">
    <div class="span9">
      <h1>
        Hello <%= @user.first_name %>!
        <small><%= @user.role %></small>
      </h1>
      <% if @user.sightings != 0 %>
        <p>You've been busy :-) You've made <%= @sightings.count %> sightings in the past 60 days</p>
      <% else %>
        <p>What have you seen? Where have you been? Try adding a sighting.</p>
      <% end %>
    </div>
    <div class="span3">
      <%= link_to "#", :class => 'btn btn-large btn-info' do %>
        <i class="icon-share icon-white"></i> Share this - Facebook or Twitter
      <% end %>
    </div>
  </div>
    
  <div class="row">
    <div class="span9">
      <div class="row">

        <div id="timeline-embed"></div>
        <script type="text/javascript">
        	var timeline_config = {
        		width: 700, // OPTIONAL
        		height: 400, // OPTIONAL
        		// maptype: "watercolor", // OPTIONAL
        		// css: 'path_to_file/timeline.css', // OPTIONAL
        		// js: 'path_to_file/timeline.js', // OPTIONAL
        		source: "/users/<%= @user.id%>/timeline.json"
        	}
        </script>
        <script type="text/javascript" src="http://veritetimeline.appspot.com/latest/timeline-embed.js"></script>

      </div>  
      <div class="row">
        <h3>Sightings list</h3>
        <%= render :partial => 'sightings/table'%>
      </div>
    </div>
  </div>
</div>
