<!-- TODO: remove inline styling -->
<div class='container' style="padding-top:40px">
  <div class="row">
    <div class="span6">
      <h1>Results</h1>
      <div id="results"></div>
    </div>
    <div class="span6">
      <div class="row">
        <h1>Filters</h1>
          <%= form_tag sightings_path, :method => 'post' do %>
            <%= label_tag :species %>
            <%= text_field_tag :species, params[:species], :class => 'auto' %>
            <%= hidden_field_tag :species_ids %>

            <%= label_tag :tribes %>
            <%= text_field_tag :tribes, params[:tribes] %>
            <%= hidden_field_tag :tribe_ids %>

            <%= label_tag :camp %>
            <%= text_field_tag :camp, params[:camp] %>

            <%= label_tag :location %>
            <%= text_field_tag :location, params[:location] %>

        
            <%= label_tag %>
            <%= submit_tag "Search" %>
          <% end %>
      </div>      
      <!-- <div class="row">
        <h1>Selected</h1>
        <div id="selected"></div>
      </div> -->
    </div>
  </div>
</div>