<div class="container">
  <div class="page-header">
    <div class="row">
      <div id="stats" class="span12">
        <h2>Headline Company Stats</h2>
        <ul>
          <li>
            <%= link_to pluralize(@company.camps.count, 'camp'), company_camps_path(@company) %>
          </li>
          <% if @sightings %>
            <li><%= pluralize(@sightings.count, 'sighting') %> since <%= @sightings.first.try(:record_time) %></li>
            <li>
              Most recent sighting was <%= @sightings.last.species.common_name %> at 
              <%= link_to @sightings.last.camp.name, camp_path(@sightings.last.camp) %>
              <%= link_to "(View sightings detail)", sighting_path(@sightings.last) %>
            </li>

            <!-- TODO: Add controller/model code to calculate camp with most sightings, etc -->
            <li>Most sightings recorded at XX </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


