<div class="row">
  <div class="span4">
    <%= simple_form_for @location do |f| %>
      <%= f.input :name %>
      <%= f.input :polygon%>  <!-- , :as => :hidden --> 
      <%= f.button :submit %>
    <% end %>
  </div>

  <div class="span8">
    <%= form_tag do  %>
      <%= label_tag "Search Locations" %>
      <%= text_field_tag :geocode_this %>
    <% end %>
    <div id="location_map"></div>       
  </div>
</div>
