<!DOCTYPE html>
<html>
<head>
  <title>WildSpot - your safari companion</title>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- Mapping JS and CSS -->
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBayw2eSaoacD6ls7MtZEGPnc-X6riD8Pg&sensor=false&libraries=drawing"/>
  </script>

  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>  
</head>
<body>                                                                                        


<div class="navbar">
  <!-- Nothing but space up here. Nasty -->
</div>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "WildSpot HQ - beta", root_path, :class => 'brand' %> 
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Reporting", reporting_reports_path %></li>
          <li><%= link_to "Companies", companies_path %></li>
          <li><%= link_to "Camps", camps_path %></li>
          <li><%= link_to "Sightings", sightings_path %></li>
          <li><%= link_to "Species", species_index_path %></li>
          <li><%= link_to "Tribes", tribes_path %></li>
          <li><%= link_to "Locations", locations_path %></li>
          <!-- <li><%= link_to "Stuff Tester", home_tester_path %></li> -->
          <li><%= link_to "ADMIN", rails_admin.dashboard_path %></li>
        </ul>

        <!-- Displays company and camp selected - mostly for development -->
      </div>
    </div>
  </div>
</div>
<!-- <p>
  <%# session[:company_id].nil? ? "No company" : Company.find(session[:company_id]).name %> selected
</p>
<p>
  <%# #session[:camp_id].nil? ? "No camp" : Camp.find(session[:camp_id]).name %> selected
</p>  -->

<%= yield %>



</body>
</html>
